/* Example CSS for hobby image sizing */
.hobby-image {
    width: 400px; /* Set the width of the image */
    height: 300px; /* Set the height of the image */
    object-fit: cover; /* Optional: Use object-fit to control how the image fits within its container */
}  
html,

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c7c4b1; /* light tan */
  color: #000000; 
  border-top: 2px solid #000000;
  margin-top: 0;
  padding-top: 0;
  margin: 0;
}

.my-hr {
  border-color: #a87d32;
}

.my-list{
  display: inline-block;
  margin: 0 10px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px; /* Height of the footer */
}

.footer,
.push {
  height: 75px; /* Height of the footer */
}


.footer {
  background-color: #a87d32;
  color: #ffffff; 
  text-align: center;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about {
  font-size: 20px;
}

/* Style adjustments for mobile devices */
@media (max-width: 767px) {
  .footer {
    position: relative;
    margin-top: -50px; /* Negative value of footer height */
    height: auto;
  }
}

.list-unstyled li {
  margin-bottom: 10px;
}